<%= form_with(model: @task, local: true) do |form| %>

<div class="task_field">
  <%= form.label 'タスク名' %>
  <%= form.text_field :title %>
</div>

<div class="task_field">
  <%= form.label '内容' %>
  <%= form.text_area :content %>
</div>

<div class="task_field">
  <%= form.label '終了期限' %>
  <%= form.datetime_field :expired_at %>
</div>

<div class="task_field">
  <%= form.label 'ステータス' %>
  <%= form.select :status, Task.statuses.keys, { include_blank: "選択してください"} %>
</div>

<div class="task_field">
  <%= form.label '優先順位' %>
  <%= form.select :priority, Task.priorities.keys, { include_blank: "選択してください"} %>
</div>

<div class="task_field">
    <%= form.label 'ラベル' %>
    <br>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>
</div>

  <%= form.submit"登録する" %>
<% end %>