<%= form_with(model: task, local: true) do |form| %>

<div class="task_field">
  <%= form.label 'タスク名' %>
  <%= form.text_field :title %>
</div>

<div class="task_field">  
  <%= form.label '内容' %>
  <%= form.text_area :content %>
</div>

<div class="task_field">
  <%= form.label '終了期限' %>
  <%= form.datetime_field :expired_at %>
</div>

<div class="task_field">
  <%= form.label 'ステータス' %>
  <%= form.select :status, Task.statuses.keys %>
</div>

<div class="task_field">
  <%= form.label '優先順位' %>
  <%= form.select :priority, Task.priorities.keys.to_a %>
</div>

  <% if current_page?(new_task_path) %>
    <%= form.submit "登録する" %>
  <% else %>
    <%= form.submit "編集する" %>
  <% end %>
<% end %>