<p id="notice"><%= notice %></p>
<h1><%= link_to "Task一覧", tasks_path %></h1>

<!--検索フォーム-->
<%= form_with(scope: :task, local: true, method: :get, url: tasks_path) do |form| %>
  <div class ="search_form">
  <%= t('.title') %>
  <%= form.search_field :title %>
  <%= t('.status') %>
  <%= form.select :status, [["未着手", 0], ["着手中", 1], [ "完了", 2]], include_blank: '選択してください', class: 'form-control', required: true %>
  <%= form.submit '検索' %>
  </div>
<% end %>

<div class="btn-group">
<button type="button" class="btn btn-light"><%= link_to "終了期限でソートする", tasks_path(sort_expired_at: "true") %></button>
<button type="button" class="btn btn-light"><%= link_to '優先順位でソート', tasks_path(sort_priority: "true") %></button>
<button type="button" class="btn btn-light"><%= link_to "作成日でソートする", tasks_path %></button>
</div>

<table class="table">
<head>
  <th><%= t('.name') %></th>
  <th><%= t('.title') %></th>
  <th><%= t('.content') %></th>
  <th><%= t('.expired_at') %></th>
  <th><%= t('.created_at') %></th>
  <th><%= t('.status') %></th>
  <th><%= t('.priority') %></th>
  <th></th>
  <th></th>
  <th></th>
</head>

<body>
<% @tasks.each do |task| %>
  <tr class = "task_row">
      <td><%= task.user.name %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.expired_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
  <td><%= link_to '詳細', task_path(task.id), class:"btn btn-outline-primary" %></td>
  <td><%= link_to '編集', edit_task_path(task.id),class:"btn btn-outline-success" %></td>
  <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか？'}, class:"btn btn-outline-danger" %></td>
  </tr>
<% end %>
</body>
</table>

<%= paginate @tasks %>
<button type="button" class="btn btn-light"><%=link_to '新規作成', new_task_path %></button>